/*폰트*/
@font-face {
    font-family: 'EliceDigitalBaeum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceDigitalBaeum-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
:root {
    --main-color:rgb(76, 145, 235);
    --wh-color:rgb(255, 255, 255);
    --bl-color:rgb(20, 52, 142);
}
*{
    font-family: 'EliceDigitalBaeum';
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}
header{
    height: 80px;
    border-bottom: 1px solid rgb(189, 189, 189);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width:90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul{
    display:flex;
    font-size:25px;
}
header ul li{
    font-size:25px;
    padding-right: 50px;
}
header ul li:hover{
    color:var(--main-color);
}
.logo img{
    width: 100px;
}
.sign{
    font-size:20px;
}

.sign span:nth-child(1){
    margin-right:25px;
}
.sign span:nth-child(1), .sign span:nth-child(2){
    border: 1px solid rgb(76, 145, 235);
    border-radius: 30px;
    padding:5px 15px;
    color: var(--main-color);
}
.sign span:hover{
    background-color: var(--main-color);
    color:var(--wh-color);
}
main{
    position: relative;   
}
.video{ 
    position: absolute;
    overflow: hidden;
    z-index: -9999;
    width:100%;
    height:1000px;
    filter: brightness(30%);
}
.text{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text h1{
    font-size: 70px;
    padding-top: 50px;
    font-weight:200;
}
.text h2{
    width:50%;
    text-align: center;
    letter-spacing:1px;
    font-weight:200;
    padding-top: 20px;
    padding-bottom:50px;
}
.text span{
    font-size:30px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    border-radius:20px;
    padding:5px 20px;
}
.text span:hover{
    background-color: rgb(104, 163, 240);
    border: 1px solid rgb(104, 163, 240);;
}
.image{
    width:90%;
    display: flex;
    margin-top:50px;
}
.img1{
    position: absolute;
    z-index: 1;
    left: 6%;
}
.img2{
    position: absolute;
    z-index:3;
    left:13%;
}
.img3{
    position: relative;
    z-index:5;
    left:85%;
    top:30px;
}
.content{
    position:absolute;
    z-index: -9;
    top:90%;
    width:100%;
    height:800px;
    background-color:var(--bl-color);
}
.con{
    font-size: 40px;
    position:absolute;
    top:50%;
    left: 40%;
}



